* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vw;
    overflow: hidden;
    background-color: lightblue;
}

button {
    position: absolute;
    font-family: arial;
    font-size: 30px;
    top: 5%;
    left: 5%;
    padding: 10px;
    text-transform: uppercase;
    background-color: blue;
    color: white;
    z-index: 1;

}

div.cloud img {
    position: absolute;
    top: 10%;
    left: 60%;
    z-index: 1;
}

div.airplane img {
    position: absolute;
    top: 91%;
    left: -20%;
    transition: 3s;


}

button:hover~div.airplane img {
    top: 0;
    left: 100%;
    position: absolute;
    opacity: 0;
}